.footer-wrapper {
  display: grid;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  grid-template-areas: "footer-left footer-middle footer-right";
}

.footer-image {
  width: 45%;
  height: auto;
  margin: 0;
  padding: 0;
}

.footer-box {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.footer-list {
  list-style: none;
}

// Grid areas
.footer-left {
  grid-area: footer-left;
  text-align: left;
}

.footer-middle {
  grid-area: footer-middle;
  text-align: center;
}

.footer-right {
  grid-area: footer-right;
  text-align: right;
}

// Media query's
@media all and (max-width: 600px) {
  .footer-wrapper {
    display: grid;
    grid-gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-template-areas: "footer-left" "footer-middle" "footer-right";
  }
}

@media all and (max-width: 880px) {
  .footer-image {
    width: 75%;
    height: auto;
    margin: 0;
    padding: 0;
  }
}